@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

/* Variables */
:root {
    --dark-mode-elements: hsl(209, 23%, 22%);
    --dark-mode-bg: hsl(207, 26%, 17%);
    --light-mode-text: hsl(200, 15%, 8%);
    --light-mode-input: hsl(0, 0%, 52%);
    --white: hsl(0, 0%, 100%);
    --font: 'Nunito Sans', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    font-family: var(--font);
    color: var(--white);
}

body {
    background-color: var(--dark-mode-bg);
}

.header {
    display: flex;
    height: 10vh;
    background-color: var(--dark-mode-elements);
    align-items: center;
}

.header h1 {
    padding: 1rem;
}

.container {
    margin: 3rem;
}

.container--secondary {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-input {
    background-color: var(--dark-mode-elements);
    width: 400px;
    height: 30px;
    border-radius: 5px;
    border: none;
    margin: 2rem 1rem;
    padding: 0.5rem;
}

.select-input {
    background-color: var(--dark-mode-elements);
    width: 150px;
    height: 40px;
    border-radius: 5px;
    border: none;
    margin: 2rem 1rem;
    padding: 0.5rem;
}

.container--primary {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
}

.card {
    width: 250px;
    background-color: var(--dark-mode-elements);
}

.card__img {
    width: inherit;
    height: 150px;
}

.card__body {
    padding: 1rem;
}

.card__list>li {
    list-style: none;
}

.card__list>li>span {
    font-weight: 600;
}

.btn {
    display: block;
    padding: 0.5rem 2rem;
    margin: 2rem;
    font-size: 1em;
    text-align: center;
    color: var(--white);
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 1px 1px rgb(0 0 0 / 0.2);
}

.btn--primary {
    background-color: var(--dark-mode-elements);
    border: 1px solid var(--dark-mode-elements);
}

.link {
    text-decoration: none;
}

@media screen and (min-width:1440px) {}